@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  background: #70b2b2;
  outline: none;
  transition: 2ms ease;
}
#chatbot-toggler:hover {
  background: #62a0a0;
}

.chatbot-popup {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
}
.chat-header {
  display: flex;
  align-items: center;
  background: #70b2b2;
  justify-content: space-between;
  padding: 15px 22px;
}
.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-info .chatbot-logo {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #70b2b2;
  flex-shrink: 0;
  background: #fff;
  border-radius: 50%;
}
.header-info .logo-text {
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}
.chat-header #close-chatbot {
  border: none;
  color: #fff;
  height: 40px;
  width: 40px;
  font-size: 1rem;
  margin-right: -9px;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  outline: none;
  transition: 0.2s ease;
}
.chat-header #close-chatbot:hover {
  background: #62a0a0;
}
.chat-body {
  padding: 25px 22px;
  display: flex;
  gap: 20px;
  height: 460px;
  margin-bottom: 82px;
  overflow-y: auto;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #ccccf5 transparent;
}
.chat-body .message {
  display: flex;
  align-items: center;
  gap: 11px;
}
.chat-body .bot-message .bot-avatar {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #fff;
  align-self: flex-end;
  flex-shrink: 0;
  margin-bottom: 2px;
  background: #70b2b2;
  border-radius: 50%;
}
.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;
}
.chat-body .message .message-text {
  padding: 12px 16px;
  max-width: 75%;
  font-size: 0.95rem;
  display: inline-block;
  overflow-wrap: break-word;
  word-break: break-word;
}

.chat-body .message-time {
  font-size: 0.75rem;
}
.chat-body .bot-message.thinking.message-text {
  padding: 2px 16px;
}
.chat-body .bot-message .message-text {
  background: #f2f2ff;
  border-radius: 13px 13px 13px 3px;
}
.chat-body .user-message .message-text {
  color: #fff;
  background: #70b2b2;
  border-radius: 13px 13px 3px 13px;
}

.chat-body .bot-message .thinking-indicator {
  display: flex;
  gap: 4px;
  padding-block: 15px;
}

.chat-body .bot-message .thinking-indicator .dot {
  height: 7px;
  width: 7px;
  opacity: 0.7;
  border-radius: 50%;
  background: #016b61;
  animation: dotPulse 1.8s ease-in-out infinite;
}
.chat-body .bot-message .thinking-indicator .dot:nth-child(1) {
  animation-delay: 0.2s;
}
.chat-body .bot-message .thinking-indicator .dot:nth-child(2) {
  animation-delay: 0.3s;
}
.chat-body .bot-message .thinking-indicator .dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes dotPulse {
  0%,
  44% {
    transform: translateY(-4px);
  }
  28% {
    opacity: 0.4;
    transform: translateY(-4px);
  }
  44% {
    opacity: 0.2;
  }
}
.chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}
.chat-footer .chat-controls {
  display: flex;
}
.chat-footer .chat-form {
  display: flex;
  position: relative;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid #cccce5;
}
.chat-footer .chat-form:focus-within {
  outline: 2px solid #70b2b2;
}
.chat-form .message-input {
  border: none;

  outline: none;
  height: 47px;
  width: 100%;
  resize: none !important;
  overflow: auto;
  font-size: 0.95rem;
  padding: 14px 0 13px 18px;
  border-radius: inherit;
}
.chat-form button {
  height: 35px;
  width: 35px;
  border: none;
  font-size: 1.15rem;
  cursor: pointer;
  margin-right: 5px;
  outline: none;
  border-radius: 50%;
}
.chat-form #send-message {
  background: #70b2b2;
  color: #fff;
  transition: 0.2s ease;
  padding-bottom: 2px;
  outline: none;
}
.chat-form #send-message:hover {
  background: #62a0a0;
}
.chat-form #emoji-picker {
  background: transparent;
  padding-bottom: 2px;
  padding-right: 1px;
  margin: 0 2px;
  outline: none;
}
.chat-form #emoji-picker:hover {
  background: #cccce5;
}
#emoji-picker {
  position: absolute;
  bottom: 170px;
  right: 40px;
  z-index: 9999;
  visibility: hidden;
  height: 200px;
}

body.show-emoji-picker #emoji-picker {
  visibility: visible;
}
